<%- include("partials/header"); -%>

<div class="card" style="text-align: center">
  <h1 class="card-header" style="text-align: center">About</h1>
  <hr class="rounded" />
  <p class="card-text"><%= aboutContent %></p>
</div>

<%- include("partials/footer"); -%>
